  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  body {
    background: #ebd9b0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    place-items: center;
  }

  ul.menu {
    margin-top: 200px;
    width: 100%;
    max-width: 300px;
    color: #353b3f;
    position: relative;
    cursor: pointer;
  }

  ul.menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }

  .menu .submenu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0%;
    background: #353b3f;
    border-radius: 1rem;
    padding: 1rem;
    transition: all .3s ease;
    list-style: none;
  }

  .menu .submenu li {
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background .2s ease;
  }

  /*.menu li:hover .submenu {
    opacity: 1;
    pointer-events: none;
  }*/

  .menu .submenu li:nth-child(1):hover {
    background: #65d076;
  }

  .menu .submenu li:nth-child(2):hover {
    background: #4b82ff;
  }

  .menu .submenu li:nth-child(3):hover {
    background: #42b3db;
  }

  .menu .submenu li:nth-child(4):hover {
    background: #fa7e91;
  }

  .menu .submenu li:nth-child(5):hover {
    background: #a073ff;
  }

  .menu i{
    font-size: 1.6rem;
    transition: transform .2s ease;
  }

  .menu li:hover i{
    transform: rotate(180deg);
  }

  .menu:hover .submenu {
    top: 100%;
    opacity: 1;
    pointer-events: all;

  }
